.div_pai_card1{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #4B2142;
}

.text_map{
    margin-top: 48px;
}

/* Abrir e Fechar Modal*/

.fundo_escurecido{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    right: 0;
    left: 0; 
    top: 0;
    bottom: 0;
    position: fixed;
}

.background_hide{
   display: none;
}